@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #f66000;
  width: 95%;
}

.body {
  background-color: #f66000;
  width: 100%;
}

.main {
  display: flex;
  height: 120vh;
}

.horta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 70%;
  height: 70vh;
}

.box {
  display: flex;
  width: 15vw;
  justify-content: center;
}

.frutas {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -9rem;
  top: 100px;
  width: 30vw;
  height: 60vh;
  transition-duration: 1s;
  transform-origin: 0% 0%;
  cursor: pointer;
}

.frutas:hover {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -9rem;
  top: 100px;
  width: 35vw;
  height: 65vh;
  transform: scale(1);
  cursor: pointer;
}

.rectangleTwo {
  position: relative;
  bottom: 555px;
  left: 40px;
  width: 95%;
  object-fit: cover;
}

.rectangleThree {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 550px;
  width: 95%;
  object-fit: cover;
}

.minusCircle {
  position: absolute;
  top: 25px;
  right: 115px;
  transition-duration: 1s;
  transform-origin: 0% 0%;
}

.minusCircle:hover {
  position: absolute;
  top: 25px;
  right: 115px;
  background-color: red;
  border-radius: 2rem;
  cursor: pointer;
  transform: scale(1);
}

.plusCircle {
  position: absolute;
  top: 25px;
  left: 115px;
  transition-duration: 1s;
  transform-origin: 0% 0%;
}

.plusCircle:hover {
  position: absolute;
  top: 25px;
  left: 115px;
  background-color: red;
  border-radius: 2rem;
  cursor: pointer;
  transform: scale(1);
}

.carrinhoLogo {
  position: relative;
  bottom: 165px;
  right: 200px;
}

.pCarrinho {
  width: 30%;
  text-align: center;
  position: relative;
  bottom: 165px;
  left: 102px;
}

.siteLogo {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 96px;
  padding-left: 4rem;
  padding-top: 2rem;
  color: white;
}

.subtitleLogo,
.catalogo {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 64px;
  color: white;
}

.subtitleLogo {
  padding-left: 12rem;
}

.catalogo {
  padding-top: 6rem;
  padding-left: 2.5rem;
}

.carrinho {
  position: relative;
  bottom: 4rem;
  left: 2rem;
}
